version: '2'



services:

   # Database for wordpress

   db:

     image: mysql:5.7

     volumes:

       - db_data:/var/lib/mysql

     restart: always

     environment:

       MYSQL_ROOT_PASSWORD: rootpassword

       MYSQL_DATABASE: wordpress

       MYSQL_USER: wordpress

       MYSQL_PASSWORD: wordpress

   # phpmyadmin to access database

   phpmyadmin:

     depends_on:

        - db

     image: phpmyadmin/phpmyadmin

     restart: always

     ports:

       - "9000:80"

     environment:

        PMA_HOST: db

        MYSQL_ROOT_PASSWORD: rootpassword

   wordpress:

     depends_on:

       - db

     image: wordpress:latest

     ports:

       - "8000:80"

     restart: always

     environment:

       WORDPRESS_DB_HOST: db:3306

       WORDPRESS_DB_USER: wordpress

       WORDPRESS_DB_PASSWORD: wordpress

       WORDPRESS_DB_NAME: wordpress

volumes:

    db_data: {}
